<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>


<app-list-filter (changeFilters)="changeFilterCallback($event)"></app-list-filter>


<!-- <div *ngFor="let row of rows" (click)="showDetails(row)">
    <div class="item">{{row.payment_supplier}}</div>
    <div class="item">{{row.payment_ref}}</div>
    <div class="item">
        <app-rating-set [rating]="row.payment_cost_rating" [ref]="row.payment_ref"></app-rating-set>
    </div>
    <div class="item">{{row.payment_amount}}</div>
</div> -->
<div class="grid">

    <ng-container *ngFor="let row of rows" (click)="showDetails(row)">
        <div class="item">{{row.payment_supplier}}</div>
        <div class="item">
            <app-rating-set [rating]="row.payment_cost_rating" [ref]="row.payment_ref"></app-rating-set>
        </div>
        <div class="item">{{row.payment_ref}}</div>
        <div class="item">{{row.payment_amount}}</div>
    </ng-container>

    <!-- <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div>

    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div>

    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div>

    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div>
    <div class="item">2</div> -->

</div>

<app-list-pagination *ngIf="pagination" [pagination]="pagination" (changePage)="changePageCallback($event)"></app-list-pagination>



<div class="item">Supplier</div>