.container {
    height: 28px;
    display: flex;
    justify-content: center;
    button {
        background-image: url(/assets/img/paging_bg.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        margin-right: 4px;
        width: 28px;
        height: 28px;
        border: none;
        outline: none;
        cursor: pointer;
        color: #717171;
        font-size: 9px;
        font-weight: 700;
    }
    button:hover {
        box-shadow: 0px 0px 1px 1px rgb(220, 220, 220);
    }
    .active {
        color: #F2F2F2;
        background-image: url(/assets/img/paging_bg_on.png);
    }
    button:last-child {
        margin-right: 0;
    }
}
