<div class="container">
    <button *ngIf="pagination?.leftEnd" (click)="setPage(0)">&lt;&lt;</button>
    <button *ngIf="pagination?.left" (click)="setPage(+pagination.current - 1)">&lt;</button>
    <button *ngFor="let page of pages" (click)="setPage(+page)" [ngClass]="{'active': pagination.current == page}">{{+page + 1}}</button>
    <button *ngIf="pagination?.right" (click)="setPage(+pagination.current + 1)">&gt;</button>
    <button *ngIf="pagination?.rightEnd" (click)="setPage(+pagination.total - 1)">&gt;&gt;</button>
</div>